name: Build Source

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'tsconfig.json'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Dependencies
        run: pnpm install

      - name: Compile files
        run: pnpm build

      - name: Setup Git Credentials
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Commit Files
        continue-on-error: true # commit will fail if the code wasn't changed. Prevent the build to fail in this case.
        run: |
          git add dist/index.js -f
          git commit -m "[CI] Add changes"

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
